body { font-family: sans-serif; background-color: #0f172a; color: white; text-align: center; direction: rtl; }
.app-container { padding: 20px; max-width: 400px; margin: auto; }
h1 span { color: #38bdf8; }
.clock-box { background: #1e293b; padding: 15px; border-radius: 15px; margin-bottom: 20px; }
#clock { font-size: 2rem; font-weight: bold; margin: 0; color: #38bdf8; }
.rate-card { background: #1e293b; display: flex; justify-content: space-between; align-items: center; padding: 15px; margin-bottom: 10px; border-radius: 12px; border: 1px solid #334155; }
.rate-card img { width: 30px; border-radius: 4px; }
.calculator { margin-top: 30px; background: #38bdf8; color: #0f172a; padding: 20px; border-radius: 20px; }
input, select { width: 80%; padding: 10px; margin: 10px 0; border-radius: 8px; border: none; font-size: 1rem; }
